.card {
    height: 60px;
    width: 40%;
    background-color: #494949;
    color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.card strong {
    font-size: 20px;
}

.card small {
    font-size: 16px;
}