.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container header {
  width: 40%;
  margin: 150px 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #ffffff;
}

header strong {
  color: #ffffff;
  font-size: 24px;
  font-weight: 10px;
}

.container header img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-left: 15px;
}

.container header div {
  display: flex;
  align-items: center;
}

.container input {
  width: 100%;
  padding: 24px;
  background: #e6e6e6;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.container button {
  width: 30%;
  padding: 20px;
  font-weight: 700;
  background: #ea4c89;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: filter 0.2s;
  font-size: 16px;
}

.container button:hover {
  filter: brightness(0.9);
}

.input-button {
  width: 40%;
  height: 60px;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .container input {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .container button {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .container header {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  header strong {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .container header img {
    margin-right: 10px;
  }
}